@import "tailwindcss";

:root {
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
  --font-merriweather: var(--font-merriweather);
}

body {
  font-family: var(--font-inter);
}

h1, h2, h3, p{
  font-family: var(--font-merriweather);
}

nav {
  font-family: var(--font-poppins);
}